* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #DC143C;
}

#main {
    background: #666;
    text-align: center;
    padding: 35px 0;
}

#clockdiv {
    font-weight: 700;
    color: #fff;
    padding: 2px 8px;
}

#clockdiv span {font-size: 20px;}


#main-bottom {padding-top: 25px;}

.btn-animated {
    display: block;
    width: 135px;
    height: 135px;
    background: #DC143C;
    margin: 30px auto;
    border-radius: 50%;
    border: 0;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    animation: pulse 1.4s linear infinite;
    transition: all 0.2 ease-out;
    outline: none !important;
    cursor: pointer;
}

.btn-animated:hover {
    animation: none;
    box-shadow: 0 0 10px 7px rgba(220, 20, 60, .7);
}

@-webkit-keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(220, 20, 60, .7), 0 0 0 0 rgba(220, 20, 60, .7);
    }
    40% {
        box-shadow: 0 0 0 15px rgba(220, 20, 60, 0) 0 0 0 0 rgba(220, 20, 60, .7);
    }
    80% {
        box-shadow: 0 0 0 25px rgba(220, 20, 60, 0), 0 0 0 0 rgba(220, 20, 60, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(220, 20, 60, 0), 0 0 0 0 rgba(220, 20, 60, 0);
    }

}